# redirect routes to index
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html

# compress text files
AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/javascript text/javascript application/json
